@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    
}

html {
    background-color: white;    
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.card {
    margin: 0 auto;
    position: relative;
    max-width: 940px;
    height: 420px;
    margin-top: 150px;
    border-radius: 4px;
    background-color: #abf7d9;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    animation: showslow 400ms 0.5s ease-in forwards;
    opacity: 0;
    
    
}

h3 {
    font-weight: normal;
}


.card header{
    text-align: center;
    padding: 40px 0px;
}


.card section {
    margin: 0 auto;
    width: 400px; 
}

.card section form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.card section form .entrada {
    text-align: center;
    margin: 5px 0px;
}

.card section form .entrada  input{
    margin: 5px 0px;
    font-size: 18px;
}

.card section form .saida {
    text-align: center;
    margin: 5px 0px;
}

.card section form .saida  input{
    margin: 5px 0px;
    font-size: 18px;
}



.card section .button {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card section .button button{
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #01b86f;
    cursor: pointer;
    font-weight: bold;
    
}


.card .horastrabalhadas {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.card .horastrabalhadas .message {
    opacity: 0;
    animation: showslow 400ms 0.5s ease-in forwards;
    
}

.card footer {  
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -88px;
    
}

.card footer a { 
    margin: 0 auto;
    color: #111111;
    text-decoration: none;
}





@keyframes showslow {
    to {
        opacity: 1;
    }
}



.error {
    display: flex;
    justify-content: center;
    padding: 16px;
    width: 100%;
    color: white;
    top: 0;
    opacity: 1;
    animation: hidemessage 400ms 5s ease-out forwards;
}

.error {
    background: red;
}

#error {
    border: 1px solid #FF3131;
}

@keyframes hidemessage {
    to {
        top: -50px;
        opacity: 0;
    }
}




